body {
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
}

#info {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    display: none;
}